<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500Error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllerservlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controllerservlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recovery</servlet-name>
        <servlet-class>controllerservlet.Recovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>controllerservlet.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>controllerservlet.Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controllerservlet.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllerservlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>controllerservlet.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>controllerservlet.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>controllerservlet.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>controllerservlet.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>controllerservlet.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>controllerservlet.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controllerservlet.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controllerservlet.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controllerservlet.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>controllerservlet.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImage</servlet-name>
        <servlet-class>controllerservlet.UpdateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLead</servlet-name>
        <servlet-class>controllerservlet.AddLead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLead</servlet-name>
        <servlet-class>controllerservlet.DeleteLead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLead</servlet-name>
        <servlet-class>controllerservlet.UpdateLead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>Invoice.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invoice</servlet-name>
        <servlet-class>controllerservlet.Invoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>controllerservlet.AddTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLogin</servlet-name>
        <servlet-class>controllerservlet.EmpLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTasks</servlet-name>
        <servlet-class>controllerservlet.ManageTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>controllerservlet.Feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recovery</servlet-name>
        <url-pattern>/Recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/UpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/DeleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImage</servlet-name>
        <url-pattern>/UpdateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLead</servlet-name>
        <url-pattern>/AddLead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLead</servlet-name>
        <url-pattern>/DeleteLead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLead</servlet-name>
        <url-pattern>/UpdateLead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invoice</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLogin</servlet-name>
        <url-pattern>/EmpLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTasks</servlet-name>
        <url-pattern>/ManageTasks</url-pattern>
    </servlet-mapping>
</web-app>
